name: Release

on: [release]

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - target: aarch64-apple-darwin
          os: macos-latest
          arch: arm64
        - target: x86_64-apple-darwin
          os: macos-latest
          arch: amd64
        - target: aarch64-unknown-linux-gnu
          os: ubuntu-latest
          arch: arm64
        - target: x86_64-unknown-linux-gnu
          os: ubuntu-latest
          arch: amd64
    steps:
    - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
    - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        toolchain: stable
        components: rustfmt, clippy
        target: ${{ matrix.target }}
        override: true
    - uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: build
        args: --release --target ${{ matrix.target }}
        use-cross: ${{ runner.os == 'Linux' }}
    - name: Rename Binary
      run: cp ./target/${{ matrix.target }}/release/shadowenv ./shadowenv-${{ matrix.target }}
    - name: Upload Binary to Release
      uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836 # v2.3.3
      with:
        files: shadowenv-${{ matrix.target }}
