name: Release

on: [release]

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        target: [x86_64-unknown-linux-gnu, x86_64-apple-darwin, aarch64-apple-darwin]
        exclude:
        # Don't build linux targets on macos
        - os: macos-latest
          target: x86_64-unknown-linux-gnu
        # Don't build darwin targets on ubuntu
        - os: ubuntu-latest
          target: x86_64-apple-darwin
        - os: ubuntu-latest
          target: aarch64-apple-darwin
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: rustfmt, clippy
        target: ${{ matrix.target }}
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --target ${{ matrix.target }}
    - uses: Shopify/upload-to-release@master
      with:
        name: shadowenv-${{ matrix.target }}
        path: target/{{ matrix.target }}/release/shadowenv
        repo-token: ${{ secrets.GITHUB_TOKEN }}
